{{ partial "header" . }}

<div class="my-5 container">
    <h1 class="text-start">Lessons Listing</h1>

    <p>This is the root. There's no content here. </p>
    
    <p>Here are the paths avalable to be used for the google site embeds:</p>

    <ul>
        {{ $sections := where (.Site.Pages) "Kind" "section" }}
        {{ range $sections  }}
            <li>
            <a href="{{ .Permalink }}">
                {{ .Title }}
            </a>
            </li>
        {{ end }}
    </ul>
</div>

{{ partial "footer" . }}