{{ define "list" }}

{{ partial "header" . }}

<div class="my-5 container">
    <h1>All {{ .Title }} Lessons</h1>

    <div class="lesson my-5 container">

        <div class="lesson-nav-container filters">
            <!-- Search Filter -->
            {{ partial "search" . }}
            
            <!-- Navigation -->
            {{ $section_type := printf .Section }}
            {{ $partial_path := printf "%s%s" "navigation/" $section_type }}
            {{ $partial_file := printf "partials/navigation/%s.html" .Section}}

            {{ if eq .Section $section_type }}
                {{ if templates.Exists $partial_file }} 
                    {{ partial $partial_path . }}
                {{ else }}
                    <div class="alert alert-warning" role="alert">
                        Create a navigation specific to this curriculum under <code>layouts/partials/navigation/curriculum-name.html</code>
                    </div>
                {{ end }}
            {{ end }}
        </div>

        <ul class="lesson-grid grid">
            {{ range .Paginator.Pages }}
                {{ partial "item" . }}
            {{ end }}
        </ul>

    </div>
</div>

{{ partial "footer" . }}

{{ end }}