<li class="grid-item {{ range .Params.category }}{{ . }}{{ end}} {{ range .Params.tags }}{{ . }} {{ end}}">
    <a 
        href="{{ .Params.link}}" 
        target="_blank" 
        class="lesson-item" 
        data-title="{{ .Title }}" 
        data-category="{{ range .Params.category }}{{ . }} {{ end}}" 
        data-tags="{{ range .Params.tags }}{{ . }} {{ end}}">
            <img src="{{ .Site.Params.base_path }}{{ .Params.image }}" class="icon" alt="{{ .Title }}" />
            <span class="title">{{ .Title }}</span>
    </a>
</li>